name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release (semver, bump type, or "auto")
        required: false
        default: 'auto'
      force:
        description: Force release even with blockers
        required: false

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    name: Release a new version
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Prepare release
        uses: getsentry/craft@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          version: ${{ inputs.version }}
          force: ${{ inputs.force }}
