name: Test

on:
  push:
    branches: [main]
    paths:
      - 'src/**'
      - 'test/**'
      - 'package.json'
      - 'bun.lock'
      - '.github/workflows/test.yml'
  pull_request:
    branches: [main]
    paths:
      - 'src/**'
      - 'test/**'
      - 'package.json'
      - 'bun.lock'
      - '.github/workflows/test.yml'
  workflow_dispatch:

permissions:
  contents: read
  actions: read
  pull-requests: write

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - run: bun install

      - name: Test
        env:
          SENTRY_TEST_AUTH_TOKEN: ${{ secrets.SENTRY_TEST_AUTH_TOKEN }}
          SENTRY_TEST_ORG: ${{ secrets.SENTRY_TEST_ORG }}
          SENTRY_TEST_PROJECT: ${{ secrets.SENTRY_TEST_PROJECT }}
        run: bun test --reporter=junit --reporter-outfile=./report.junit.xml --coverage --coverage-reporter=lcov

      - name: Upload Coverage
        uses: getsentry/codecov-action@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          post-pr-comment: true
