name: Test

on:
  push:
    branches: [main]
    paths:
      - 'packages/cli/**'
      - '.github/workflows/test.yml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/cli

    steps:
      - uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: bun install

      - name: Test
        env:
          SENTRY_TEST_AUTH_TOKEN: ${{ secrets.SENTRY_TEST_AUTH_TOKEN }}
          SENTRY_TEST_ORG: ${{ secrets.SENTRY_TEST_ORG }}
          SENTRY_TEST_PROJECT: ${{ secrets.SENTRY_TEST_PROJECT }}
        run: bun test --reporter=junit --reporter-outfile=./report.junit.xml --coverage --coverage-reporter=lcov

      - name: Upload Coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: packages/cli/coverage/lcov.info
